/* universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* root element */
html {
    font-size: 62.5%; /* use % of 16px default to allow user to zoom in browser */
}

body {
    box-sizing: border-box;
}
